.body {
  height: 60rem;
  width: 100%;
}

#sec3_body {
  padding-top: 12%;
  padding-left: 6%;
}

#sec3_head {
  margin-top: 10%;
  padding-top: 13%;
  text-align: center;
}

.sec3_conn {
  display: block;
  padding-top: 5%;

}

#reg {
  font-size: 17px;
  cursor: pointer;
  font-family: "Arvo";
  letter-spacing: .05rem;
  margin-top: 10%;
  margin-left: 20%;

  border-radius: 200px;
  background-color: coral;
  color: white;
  height: 80px;
  width: 250px;
}

.my-button:hover {
  background-color: rgb(228, 6, 6) !important;
  color: #0d0c0c !important;
}

#imgg {

  transform: skewY(-6deg);

  padding-left: 0%;
  margin-left: 20%;
  border-radius: 1px;
  box-shadow: #0000008f 0 22px 70px 4px !important;
  height: 500px;
  display: block;

  width: 500px;

}

.img1 {

  height: 500px;
  width: 500px;
}

.Home-Builder-Carrier-container {
  /* margin: 10%; */
  margin-left: 12%;
  margin-right: 15%;
  padding-top: 5%;

}

.Home-builder-carrier-content {
  /* width: 50%; */
  text-align: justify;
}

.Home-builder-carrier-title {
  font-size: 62px;
  font-weight: 500;
  color: #212121;
  font-family: inherit;
  text-align: initial;
}

.Home-builder-carrier-text p {
  --tw-text-opacity: 1;
  color: rgba(100, 116, 139, var(--tw-text-opacity));
  font-size: 1.125rem;
  text-align: initial;
  line-height: 1.625;
}

.Home-builder-button {
  margin: 2%;
}

.Home-builder-button :hover {
    background-color: rgb(228, 6, 6) !important;
    color: #ffff !important; 
}

#Home-builder-carrier-button {
  margin-right: 7%;
  /* height: 34%; */
  height: 45px;
  border-radius: 500px;
  background-color: coral;
  color: white;
  width: 35%;
  margin-top: 2%;
}

.Home-Builder-Carrier {
  background-image: url("https://ictkerala.org/GRA_Home-Header-Background.77f105b5edb5afc6.png");
}

.Homebuildercarrier-img {
  width: 100%
}