.Header {
  background-color: black;
  color: #fff;
  /* font-size: 1.5rem; */
  /* font-weight: 600; */
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 2.5rem;
}

.social-container {
  padding: 80px 50px;
  size: .2px;

}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  height: 0.5ch;
  size: 100cm;
  color: white;
}

a.facebook {
  color: white;
}

a.whatsapp {
  color: white;
}

a.instagram {
  color: white;
}

a.linkdin {
  color: white;
}

.home {
  color: white;
  text-decoration: none;
}

.contact {
  text-decoration: none;
  color: white;
  padding-right: 10%;
}

.Navbar_contant {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 9rem;
  margin-top: 2rem;
  /* padding-top: 2rem; */
}

.logo {
  padding-left: 5%;
  height: 1260px;
  width: 300px;

}

.about {
  color: black;
  /* padding-right: 40%; */
  font-size: 1.5rem;
  text-decoration: none;
}

#button {
  margin-right: 7%;
  height: 34%;
  border-radius: 500px;
  background-color: coral;
  color: white;


  /* padding-right: 15%; */
}

.con {
  margin-top: 10%;
  background-color: rgb(246, 248, 244);
  padding-top: 5%;
  text-align: center;
}

.Subscribe {
  text-align: center;
  padding: 2rem;
}

.Footer {
  background-color: rgb(16, 169, 196);
  color: #babdc2;
  font-size: 1.2rem;
  /* font-weight: 600; */
  /* padding: 0.5rem 0; */
  padding: 2rem;
  /* display: flex; */
  /* justify-content: space-between; */
  text-align: center;
  /* align-items: center; */
  /* position: fixed; */
  /* position:absolute;  commenting by dilma */
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 15rem;
}

.scroll-up-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1;
  background-color: orange;
}

svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.datatable {
margin-bottom: 10rem;
}

/* single course page */
.accordion {
  background-color: #eee;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #6c6c6a;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.course-date .course-page-title-date {
  text-align: left;
  font-family: "Arvo", sans-serif;
  background-color: #dc3545;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  font-size: 15px;

}

.img-fluid {
  margin-top: 8%;
  width: 100%;
  height: auto;
}

.course-date .course-page-title {
  text-align: justify;
  font-family: "Arvo", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  color: #333;
  margin-top: 2%;
}

.row {
  margin-top: 5% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.course-date,
.course-detail-overview-heading h5 {
  text-align: left;
}

.course-detail-overview-heading h5 {
  font-weight: 700;
  margin-bottom: 30px;
  color: #3d3b3b;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: 5% !important;
}

.course-detail-overview p {
  text-align: left;
  color: #888;
}

.course-detail-overview-venue {
  font-weight: bolder;
}

.col-md-4 {
  border: 1px solid #dee2e6 !important;
}

.course-additional-details {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  padding: 10%;
}

.course-detail-fee,
.course-includes {
  margin-top: 15% !important;

}

.course-detail-fee .course-fee {
  font-family: "Asap", sans-serif;
  font-weight: bolder;
  font-size: 5px;
  min-height: 55px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #08a;
  border: #0088aa 1px solid;
  margin: 17px !important;
  padding: 5px !important;
}

#course-reg-button {
  height: 55px;
  width: 190px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Arvo";
  letter-spacing: .05rem;
  border-radius: 200px;
  background-color: coral;
  color: white;

}

.course-register-button:hover {
  background-color: rgb(228, 6, 6) !important;
  color: #ffff !important;
}

.course-detail-fee .course-includes {
  font-weight: 700;
  color: #514e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 5px;
}

.course-includes-detail-points p {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #6c6c6a;
  text-align: left;
  margin: 5px;
}

.course-note-section {
  background: #EEE;
  border-radius: 5px;
  border: thin solid #DDD;
  margin: 10px;
}

.course-note-section-heading {
  padding: 10px;
  font-weight: bold;
  background: white;
  border-radius: 5px 5px 0 0;
  font-size: 100%;
}

.course-note-section-heading p {
  text-align: left;
}

.course-note-section-points p {
  padding: 10px;
  text-align: left;
}

.course-additional-details li {
  text-align: left;
}

/* About page styles */
.About-us-first-section-img img,
.About-us-second-section-img img,
.About-us-fourth-section-img img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.About-us-third-section-img img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin: 0;
  width: 80%;
}

.About-us-first-section-heading .About-us-first-section-title {
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
  font-size: 45px;
}

.About-us-second-section-heading .About-us-second-section-title,
.About-us-third-section-heading .About-us-third-section-title,
.About-us-fourth-section-heading .About-us-fourth-section-title {
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
  font-size: 35px;
}

.About-us-first-section-paragraph p,
.About-us-second-section-paragraph p,
.About-us-third-section-paragraph p,
.About-us-fourth-section-paragraph p {
  line-height: 1.625;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
  text-align: left;
  color: darkgray;
}

.About-us-fourth-section-heading,
.About-us-fourth-section-text,
.About-us-commitee {
  padding-top: 5%;
}

.About-us-commitee-heading .About-us-commitee-title {
  font-size: 30px;
  font-weight: 700;
}

.About-us-commitee-details {
  padding-bottom: 50px;
}

.About-us-commitee-details p,
.About-us-commitee-details-list {
  color: black;
  text-align: left;
  padding-top: 3%;
}

.About-us-commitee-details-list li {
  text-align: left;
}
.About-us-section .col-md-4{
  border:none !important;
}